:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --accent-color-btn: #39408a;
    --accent-color: #4D5AE5;
    --white-accent-color: #FFFFFF;
    --logo-footer-white: #F4F4FD;
    --footer-text: #E7E9FC;
    --customer-logo: #8E8F99;
    --accent-footer-link: #31D0AA;
    --modal-window:#FCFCFC;
    --ocean-blue-accent:#404BBF;
    --transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color: var(--white-accent-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
}

/*============ UTILITA ======= */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.flex {
 display: flex;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*============ UTILITA ======= */

/*============= LOGO ============ */

.logo {
color: var(--title-text-color);

font-family: 'Raleway', sans-serif;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
}

.logo-accent {
    color: var(--accent-color);
}

/*============= LOGO ============ */

/*============= HEADER =========== */

.heder-nav {
    align-items: center;
}

.page-header a {
    text-decoration: none;
}

.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.page-nav {
    margin-left: 77px;
}


.page-nav a {
    color: var(--title-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--transform);
}

.page-nav a:hover,
.page-nav a:focus {
    color: var(--ocean-blue-accent);
}

.contact {
    margin-left: auto;
}

.contact a {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: color var(--transform);
}

.contact a:hover,
.contact a:focus {
    color: var(--ocean-blue-accent);
}

.page-item {
    margin-left: 40px;
}

.page-item a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-item:first-child {
    margin-left: 0;
}

.contact-item {
    margin-left: 40px;
}

.contact-item:first-child {
    margin-left: 0;
}

.contact-item a {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-item.line::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--ocean-blue-accent);
    border-radius: 4px;
}

/*============= HEADER =========== */

/* ============= MAIN ========== */

.section-title {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.main-section-title {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 72px;

    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

.text {
    color: var(--primary-text-color);
    margin: 0;

    font-size: 16px;
    line-height: 1.5;
}
/* ============= MAIN ========== */

/* ============= HERO ============== */

.hero {
    text-align: center;
    padding: 192px;
    
    max-width: 1440px;
    height: 603px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ), 
    url(../images/people-office.jpg)
}

.hero-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 492px;
}

.hero {
    background-color: var(--title-text-color);
}

.hero-title {
    color: var(--white-accent-color);
    margin-top: 0;
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 56px;
    line-height: 1.1;
}
/* Hero button */
.hero-btn {
    background-color: var(--accent-color);
    color: var(--white-accent-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    border: 1px solid transparent;
    transition: background-color var(--transform);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean-blue-accent);
}

/* ============= HERO ============== */

/* ========== INFORMATION ========== */

.info-item p {
    max-width: 264px;
}

.info-item {
    margin-left: 24px;
}

.info-logo-box {
    background-color: var(--logo-footer-white);
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item:first-child {
    margin-left: 0;
}

/* ===============INFORMATION================== */

/*===================WORK==================== */


.work-item {
    margin-left: 24px;
    border: 1px solid var(--footer-text)
}

.work-item:first-child {
    margin-left: 0;
}

.work-section {
    padding-bottom: 120px;
}

/*===================WORK==================== */

/* ===================TEAM==================== */

.team {
    background-color: var(--logo-footer-white);
}

.team-item {
    background-color: var(--white-accent-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

    margin-left: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team-item:first-child {
    margin-left: 0;
}

.team-box {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.social-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    list-style: none;
    margin-left: 24px;
    padding: 0;
}

.social-item:first-child {
    margin-left: 0;
}

.social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transition: background-color var(--transform);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--ocean-blue-accent);
}



.text-team {
    color: var(--primary-text-color);
    margin-bottom: 12px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5;
}

/* =================TEAM================= */

/* ===============CUSTUMERS================*/

.custumers-title {
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.custumer-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.custumer-item {
    margin-left: 24px;
}

.custumer-item:first-child {
    margin-left: 0;
}

.customer-link {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid currentColor;
    color: var(--customer-logo);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--transform);
}

.customer-link:hover,
.customer-link:focus {
    color: var(--ocean-blue-accent);
}

.custumer-logo {
    fill: currentColor;
}

/* =========CUSTUMERS==============*/

/* ============FOOTER==============*/

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
}

.logo-footer {
    color: var(--logo-footer-white);
    margin-bottom: 16px;
    display: block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.3;
}

.footer-text {
    color: var(--footer-text);

    font-size: 16px;
    line-height: 1.5;
}

.footer {
    background-color: var(--title-text-color);
}

.text-conteiner {
    max-width: 264px;
}

.social-media {
    color: var(--white-accent-color);
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.5;
}

.footer-social {
    margin-left: 120px;
}

.social-list-footer {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.social-item-footer {
    margin-left: 16px;
}

.social-item-footer:first-child {
    margin-left: 0;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background var(--transform);
    background: rgba(255, 255, 255, 0.1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background: var(--accent-footer-link);
}

/* ============FOOTER==============*/

/*========== PORTFOLIO =============*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}


.filter-btn {
    color: var(--accent-color);
    background-color: var(--logo-footer-white);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    transition: background-color var(--transform), color var(--transform), border var(--transform), box-shadow var(--transform);
}

.filter-btn-item {
    margin-left: 24px;
}

.filter-btn-item:first-child {
    margin-left: 0;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-accent-color);
    background-color: var(--ocean-blue-accent);
    border: 1px solid var(--ocean-blue-accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
    justify-content: center;
    margin-bottom: 72px;
}
/*========== PORTFOLIO =============*/

/* ============ EXEMPLES ============ */

.examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.examples-list a {
    text-decoration: none;
    
}


.examples-text-accent {
color: var(--logo-footer-white);
}

.examples-item {
    max-width: 360px; 
    margin-left: 24px;
    margin-bottom: 48px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.examples-item:hover,
.examples-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-item:hover .overlay,
.examples-item:focus .overlay {
    transform: translate(0, 0);
}

.examples-item:nth-child(3n + 1) {
    margin-left: 0;
}

.examples-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.examples-text-box {
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 0.5px solid var(--logo-footer-white);
    border-bottom: 0.5px solid var(--logo-footer-white);
    border-right: 0.5px solid var(--logo-footer-white);;
}

.overlay {
    color: var(--logo-footer-white);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--accent-color);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0, 100%);
    transition: transform var(--transform);
    top: 0;
    left: 0;
}

.examples-link {
    display: block;
}

.overlay-box {
    position: relative;
    overflow: hidden;
}
/* ============ EXEMPLES ============ */

/* =========== MODEL WINDOW =========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 100;
    transition: opacity var(--transform), visibility var(--transform);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background-color: var(--modal-window);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    padding: 0;
    background: var(--footer-text);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
}

/* =========== MODEL WINDOW =========== */