/* * {
    outline: 1px solid black;
} */

.tumba {
    width: 900px;
    height: 600px;
    border: 2px solid black;
    border-radius: 5%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 2px solid black;
}

.box:nth-child(1) {
    background-color: rgba(0, 255, 255, 0.5);
}

.box:nth-child(2) {
    background-color: rgba(255, 99, 71, 0.5);
    /* position: fixed; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.box:nth-child(3)  {
    background-color: rgba(255, 165, 0, 0.5);
}

.box:nth-child(4)  {
    background-color: rgba(0, 0, 255, 0.5);
}

.inaf {
    background-color: rgba(0, 0, 0, 0.3);
}

.cart {
    width: 264px;
    margin: auto;

    position: relative;
}

.cart img {
    display: block;
}

.text {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}