.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    outline: solid 1px tomato;
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.element {
    width: 150px;
    height: 100px;

    margin: 15px;

    border: 10px black;
    border-radius: 4px;
    background-color: grey;

    /* background-image: url('../images/symbol-defs.svg#icon-Logo-5'); */
    
}

.icon {
    width: 100px;
}

.icon:hover {
    fill: blue;
}